{% extends "layout.html" %}

{% block script %}
<script type="text/javascript" charset="utf-8">
    document.addEventListener("DOMContentLoaded", function() {
        if (localStorage.getItem("name") == null) {
            window.location.href = window.location.href + "/username/"
        }
        else {
            var url = window.location.pathname;
            var roomName = url.substring(url.indexOf("/", url.indexOf("/") + 1) + 1)
            
            var socket = io.connect("http://localhost:5000");

            socket.on("connect", function() {
                console.log("Client connection sent"); 
            })

            socket.on("server_connect", function(data) {
                console.log(data);
            })

            socket.emit("client_join", {"name": localStorage.getItem("name"), "roomname": roomName})

            document.getElementById("change_name_button").onclick = function() {
                socket.emit("name_change", {"new_name": document.getElementById("username").value, "old_name": localStorage.getItem("name"), "roomname": roomName})
                socket.on("name_change_confirm", function(data) {
                    if (data == "allowed") {
                        localStorage.removeItem("name")
                        localStorage.setItem("name", document.getElementById("username").value)
                        document.getElementById("username").value = ""
                    }
                    else {
                        console.log(data)
                    }
                })
                return false;
            };
            
            // Encases all of the messages from server
            socket.on("server_message", function(data) {
                if (data["msgtype"] == "user_message") {
                    console.log(data) // TODO
                }
                else if (data["msgtype"] == "name_change") {
                    console.log(data) // TODO
                }
                else if (data["msgtype"] == "user_join") {
                    console.log(data) // TODO
                }
                else if (data["msgtype"] == "user_disconnect") {
                    console.log(data) // TODO
                }
                else {
                    console.log("unknown server message")
                }
            })
        }
    });
</script>
{% endblock %}

{% block title %}
    
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <a href="/"><button id="leave" class="btn btn-primary">Leave</button></a>
                <button id="change_name" type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#change_name_collapse">Change name</button>
                <span>Room name: <span id="roomname">{{ roomname }}</span></span>
            </div>
        </div>
        <div class="collapse" id="change_name_collapse">
            <div id="change_name" class="d-inline-flex">
                <input name="username" id="username" type="text" placeholder="Username" aria-label="Enter username" maxlength=20 autocomplete="off" autocapitalize="off" required>
                <button id="change_name_button" class="btn btn-primary" type="button">Enter</button>
            </div>
        </div>
        <div class="row">
            
        </div>
    </div>
{% endblock %}