{% extends "layout.html" %}

{% block frontscript %}
<script type="text/javascript" charset="utf-8">
    document.addEventListener("DOMContentLoaded", function() {
        if (localStorage.getItem("name") == "") {
            localStorage.removeItem("name");
        }
        else if (localStorage.getItem("name") != null) {
            document.getElementById("username").value = localStorage.getItem("name");
            document.getElementById("login").submit();
        };

        document.getElementById("login").onsubmit = function() {
            localStorage.removeItem("name");
            localStorage.setItem("name", document.getElementById("username").value);
        };
    });
</script>
{% endblock %}

{% block title %}
: Choose your username
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row g-0 mt-5 text-center">
            <h3>Enter your username</h3>
            <form id="login" class="d-flex justify-content-center" method="post">
                <input name="username" id="username" type="text" placeholder="Username" aria-label="Enter username" maxlength=20 autocomplete="off" autocapitalize="off" required>
                <button class="btn btn-primary" type="submit">Enter</button>
            </form>
        </div>
    </div>
{% endblock %}