{% extends "layout.html" %}

{% block frontscript %}
<script type="text/javascript" charset="utf-8">
    document.addEventListener("DOMContentLoaded", function() {
        if (localStorage.getItem("name") != null) {
            var url = window.location.href;
            var room = url.substring(0, url.lastIndexOf("username"))
            window.location.replace(room);
        };

        document.getElementById("login").onsubmit = function() {
            localStorage.removeItem("name");
            localStorage.setItem("name", document.getElementById("username").value);
        };
    });
</script>
{% endblock %}

{% block title %}
{% endblock %}

{% block body %}
    <div class="container-fluid d-flex justify-content-center">
        <div class="row d-inline-flex mt-5">
            <form id="login" class="d-inline-flex" method="post">
                <input name="username" id="username" type="text" placeholder="Username" aria-label="Enter username" maxlength=20 autocomplete="off" autocapitalize="off" required>
                <button class="btn btn-primary" type="submit">Enter</button>
            </form>
        </div> 
    </div>
{% endblock %}