{% extends "layout.html" %}

{% block frontscript %}
<script type="text/javascript" charset="utf-8">
    document.addEventListener("DOMContentLoaded", function() {
        if (localStorage.getItem("name") != null) {
            if (document.getElementById("error").value != "") {
                localStorage.removeItem("name");
                document.getElementById("username").value = "";
            }
            else {
                document.getElementById("username").value = localStorage.getItem("name");
                document.getElementById("login").submit();
            }
        };

        document.getElementById("login").onsubmit = function() {
            localStorage.removeItem("name");
            localStorage.setItem("name", document.getElementById("username").value);
        };
    });
</script>
{% endblock %}

{% block title %}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <h1 id="error" class="row justify-content-center">
            {{ error }}
        </h1>
        <div class="row mt-5 d-flex justify-content-center">
            <form id="login" class="d-inline-flex" method="post">
                <input name="username" id="username" type="text" placeholder="Username" aria-label="Enter username" maxlength=20 autocomplete="off" autocapitalize="off" required>
                <button class="btn btn-primary" type="submit">Enter</button>
            </form>
        </div> 
    </div>
{% endblock %}